body{
    background: linear-gradient(rgba(51, 85, 85, 0.837), #05757f);
    color:#ccc;
    height: 100vh;
    margin: 0;
    /* position: relative; */
}

body>h1{
    font-size: 3rem;
    text-align: center;
}

.box-title{
    font-size: 1.7rem;;
}

.dBox{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#editor{
    width: 80%;
    height: 20vh;
    border: none;
    background-color: #333; 
    color: inherit;
    border-radius: 20px;
    padding: .7rem;    
    transition: height 2s ease-in-out 1s,
                transform 2s ease-out 1s;
    
}    

#editor:hover{
    transform: translateY(-2%);
    /* transition: all ease 1s; */
    transition: all 2s ease-in-out 2s;
    /* position: fixed; */
    height: 30vh;
}


#editor::-webkit-scrollbar{
    display: none;
}

#preview{
    background-color: #012f33b4;
    /* height:fit-content; */
    resize: both;
    overflow:auto;
    padding: 1rem;
    border-radius: 1.5%;
    /* border: 1px solid black; */
    width: 80%;
    height: 40vh;
    margin:0;
    transition: height 2s,
    width 1s ease-in 1s;
}

#preview:hover{
    
    width: 85%;
    height: 100%;
    /* transition: height 1s ease-in 1s; */
    /* transition: height 3s ease 2s; */
}

#preview::-webkit-scrollbar{
    display: none;
}