body{
    background-color: #355;
}

#editor{
    width: 80%;
    height: 20vh;
    border: 1px solid black;
    background-color: #333; 
    color:#ccc;
}

.dBox{
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#preview{
    background-color: #334;
    height: 20vh;
    width: 80%;
    height:fit-content;
    resize: both;
    overflow:auto;
    padding: 1rem;
    border: 1px solid black;
}

.enlarged{
    width: 100% !important;
    height: 50vh !important;

}